<div class="banner banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ded9yhg1e/image/upload/v1592313865/mnrfqelrtzqtgiwbbjx5.jpg);">
<div class="container text-center mt-5">

  <h1 class="text-white"> Détails de votre reservation </h1>

  <div class="row">
    <div class="mx-auto">

    <div class="card-product">
      <%= cl_image_tag @booking.animal.photo_url.key, height: 300, width: 400, crop: :fill %>
      <div class="card-product-infos">
        <h3> Votre animal est <%= @booking.animal.name %></h3>
        <p>N° de reservation : <%= @booking.id %></p>
        <p>Du <%= @booking.start_date %></p>
        <p>Au <%= @booking.end_date %></p>
        <p> Prix journalier: <%= @booking.animal.daily_price %> Euros</p>
        <h3><strong><%= @total_price.to_s + " Euros" %></strong></h3><br>
        <%= link_to "Toutes vos reservations", animal_bookings_path, class: "btn btn-primary mb-1" %>
        <%= link_to "Payer", "#", class: "btn btn-primary px-5 mb-1" %>
      </div>
    </div>

    </div>

  </div>
</div>
</div>
