<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ded9yhg1e/image/upload/v1592313865/mnrfqelrtzqtgiwbbjx5.jpg);">
  <div class="container">
    <h1>Meilleur site de location d'animaux</strong> !</h1>
    <p>Lion, Singe, Crocodile, Jaguar et bien d'autres...</p>
    <%= link_to "Creer une annonce", new_animal_path, class: 'btn btn-primary' %>
    <div class="form-group">
    <input type="input" class="form-control" id="exampleFormControlInput1" placeholder="Lion gentil...">
  </div>
  <i class="fas fa-search"></i>
  </div>
</div>

<div class="container">
<div class='d-flex justify-content-between align-items-center pt-5'>
    <h1 class="text-center">Animals</h1>
</div>
    <div class="row">
        <% @animals.each do |animal| %>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src=<%= animal.photo_url%> class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= animal.name %></h5>
                        <%= animal.description%>
                        <%= link_to "Voir plus", animal_path(animal), class:'btn btn-primary btn-block mt-2' %>
                    </div>
                </div>
            </div>
            <% end %>
    </div>
</div>


