<h1 class="text-center">Créer une annonce</h1>
<div class="container">
  <%= simple_form_for @animal do |f| %>
    <%= f.input :name, label: "Nom"  %>
    <%= f.input :description %>
    <%= f.input :photo_url, as: :file %>
    <%= f.input :daily_price, label: "prix journalier"  %>
    <%= f.input :address, label: "Adresse"  %>
    <%= f.button :submit, "Valider", class: 'btn-primary' %>
  <% end %>
</div>