

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src=<%=@animal.photo_url%> class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <h1 class="card-title"><%= @animal.name %></h1>
        <p class="card-text"><%=@animal.description%></p>
<<<<<<< HEAD
        <%=link_to "Reserve", new_animal_booking_path(@animal), class: 'btn btn-primary' %>
=======
        <%=link_to "Reserve", new_animal_booking_path(@animal) %>
>>>>>>> 4241195095fe1c72d09641c2d397ff22b43f6ce7
      </div>
    </div>
  </div>
</div>

