

<div class="card   mb-3">
  <div class="row no-gutters">
    <div class="col-md-6 offset-3">
      <div class="card-body text-center">
        <h1 class="card-title"><%= @animal.name %></h1>
        <p class="card-text"><%=@animal.description%></p>
        <%= cl_image_tag @animal.photo_url.key, height: 300, width: 400, crop: :fill %>

      </div>
      
      <% if @animal.user == current_user %>
      <%= link_to "delete", animal_path(@animal), method: "delete", class: 'btn btn-danger'  %>
      <%=link_to "Edit", edit_animal_path(@animal), class: 'btn btn-primary' %>
      <%= link_to "Voir mes animaux", animals_path, class: 'btn btn-primary' %>
    <% else %>
      <%=link_to "Reserve", new_animal_booking_path(@animal), class: 'btn btn-primary' %>
    <%end%>
    </div>
  </div>
</div>

